*.iml
.gradle
.idea
/android-app/local.properties
/android-app/build
/android-app/.idea
/android-app/app/src/main/jniLibs
/android-app/app/src/main/jni
/android-app/libs
.DS_Store
/build
/captures
.externalNativeBuild
/probe_emulator_java/build
/probe_emulator_java/.gradle
/probe_emulator_java/.idea

