//Fonts
$font1: Arial, Helvetica, sans-serif;

//Colors
$lightcolor: #fff;
$darkcolor: #000;

//Breakpoint
$mobile-small: 480px;
$mobile-medium: 481px;
$tablet-small: 601px;
$tablet-medium: 768px;
$desktop-small: 1180px;
$desktop-medium: 1260px;