
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";



// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: #f0ad4e;
}


section.contact{
  color: #4cae4c;
}

section.welcome{
  color: #4cae4c;
}