.base_section-faq{
    .entry_wrapper-small{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .alignleft{
            width: 26%;
            margin-left: 8.429em;
        }
        .alignright{
            width: 69%;
        }
    }
    .slick-slide{
        width: 24.429em;
        height: 20.643em;
    }
    entry_title{
        top: initial;
        transform: none;
    }
}