footer{
  position: relative;
  .links{
    margin-top: 3em;
    padding-left: em(60);
    li{
      margin-left: em(35);
      &:first-child{
        margin-left: 0;
      }
      a{
        color: #fff;
        font-size: em(16);
        text-decoration: none;
      }
    }
  }
  li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
  }
  .bg{
    background-image: (url("/img/gradient.png"));
    display: inline-block;
    width: 100%;
    height:400px;
  }
  .bottom{
    
  }
  .right-cta{
    margin-top: 1.7em;
    float: right;
    padding-right: em(60);
    .join-us{
      cursor: pointer;
      width: em(250);
      border: 2px solid #fff;
      padding: em(15) em(55);
      color: #fff;
      border-radius: 4px;
      transition: background-color 1s, color 1s;
    }
  }
}
