html {
	box-sizing: border-box;
    font-family: $font-family-sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.welcome-container {
          margin-top: 10px;
        }
body{
    background-color: $lightcolor;
}
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.base_section{
    clear: both;
    padding: 5em 0;
}
.base_btn{
	margin-top: 25px;
	width: 205px;
	height: 52px;
	border-radius: 4px;
	background-color: #6078ea;
	box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.07);
	.super_cta{
		padding: 6%;
		font-size:em(16);
		font-weight: 500;
		text-align: center;
		color: #ffffff;
	}
  a{
    text-decoration: none;
  }
}
.base_item-shadow{
    position: absolute;
    width: 53.125em;
    height: 28.125em;
    opacity: 0.1;
    border-radius: 5px;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    background-image: linear-gradient(118deg, #17ead9, #6078ea);
}
.entry_title{
    color: $greyfirst;
    top: -50%;
    transform: translateY(-32%);
    .entry_strong{
        font-size: 3.125em;
        font-weight: bold;
        color: $darkcolor;
        margin: 4px 0 0 0;
    }  
    .entry_desc{
        font-size: 3.125em;
        display: inline-block;
        position: relative;
            &:after{
                content: "";
                background: url(../../../../public/img/vague.png) no-repeat;
        width: 122px;
        height: 10px;
        position: absolute;
                right: -10px;
    top: 65px;
                }
    }
    .entry_meta{
        font-size: 0.813em;
        font-weight: 500;
        text-transform: uppercase;
    }
}