header {
  font-family: $font-Roboto-Regular;
  height: 100px;
  width: 100%;
  position: relative;
  background-color: #fff;
  .links, .logo, .right-cta{
    display: inline-block;
    float: left;
  }
  li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
  }

  .links{
    margin-top: 3em;
    padding-left: em(60);
    li{
      margin-left: em(35);
      &:first-child{
        margin-left: 0;
      }
      a{
        color: #545454;
        font-size: em(16);
        text-decoration: none;
        transition: color 0.5s;
        &:hover{
          color: $echopen-blue;
        }
      }
    }
  }

  .logo{
    width: 13.75%;
    background-image: url('/img/echopen-gradient.png');
    background-size: cover;
    @include aspect-ratio(198,56);
    position: absolute;
    left: 43.125%;
    top: 25%;
  }

  .right-cta{
    margin-top: 1.7em;
    float: right;
    padding-right: em(60);
    a{
      text-decoration: none;
    }
    .join-us{
      text-transform: none;
      cursor: pointer;
      border: 2px solid #6078EA;
      padding: 0.9375em 1.8375em;
      text-align: center;
      background-color: #fff;
      color: #6078EA;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;
      &:hover{
        color: #fff;
        background-color: #6078EA;
      }
    }
  }

}