.grouperight{
  float: right;
  width: 50%;
  padding-right: 10%;
  position: relative;
  left:2%;
}
.groupeleft{
  float: left;
  width: 50%;
  position: relative;
  right:7%;
}
.img_left{
  width: 100%;
  margin-left: 15%;
}
.base_btn a{
  border-radius: 5px;
}
.paragraphe {

  span {
    font-size:em(30);
    line-height: 1.33;
    text-align: left;
    font-family: $font-Roboto-Regular;
  }
  p{
    padding-top: 20px;
    font-family: $font-Roboto-Regular;
    width: em(325);
    height:em(120);
  }
}

.sonde{
  width: 100%;
  padding-left: 10%;
}

.share{
  display: inline-block;
  height:30px;
  font-size:em(20);
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #545454;
  ul{
    margin-top:10px;
    display: inline-block;
    padding-left:0 ;
  }
  li {
    list-style: none;
    padding-top: 24px;
    padding-right: 1.75em;
    display: inline-block;
    float: left;
  }
}
.rectangle{
  background-image: (url("/img/gradient.png"));
  display: inline-block;
  width: 100%;
  height:518px;
    margin-bottom: 100px;
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  li{
    list-style: none;
    transform: translateY(145%);
    border-bottom-color: #17ead9;
    width: 20%;
    height: 246px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
    border-bottom: solid #17ead9;
  }
  p{
    margin:20px 0;
    font-family: $font-Roboto-Regular;
    padding:em(0) em(25);
  }
}
.title_value{
  font-size:em(25);
  text-align: center;
  color: #545454;
  font-family: $font-Roboto-Regular;
  padding-top: 10px;
}
.value{
  font-size:em(16);
  line-height: 1.5;
  text-align: center;
  color: #545454;
}
