div.faq-page-container{
  .top-faq{
    width: 100%;
    @include aspect-ratio(1440,702);
    background-image: url("/img/courbes_header.png");
    background-size: cover;
  }

  .questions{
    margin: 100px 0;
    .question{
      background-color: #fff;
      width: 82%;
      margin: 0 auto 70px auto;
      padding: 55px 40px 45px 40px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 11px 64px -16px rgba(189,189,189,0.72);
      -moz-box-shadow: 0px 11px 64px -16px rgba(189,189,189,0.72);
      box-shadow: 0px 11px 64px -16px rgba(189,189,189,0.72);
      .title{
        text-transform: uppercase;
        font-size: em(25);
        margin-bottom: 8px;
        color: #545454;
      }
      .description{
        font-size: em(16);
        color: #545454;
      }
    }
  }

}