$base-path-font: '/fonts/';

@mixin registerFont($name) {
  $fontpath: "#{$base-path-font}#{$name}/#{$name}";
  @font-face {
    font-family: "#{$name}";
    src: url('#{$fontpath}.eot');
    src: url('#{$fontpath}.eot?#iefix') format('embedded-opentype'),
    url('#{$fontpath}.woff2') format('woff2'),
    url('#{$fontpath}.woff') format('woff'),
    url('#{$fontpath}.ttf') format('truetype'),
    url('#{$fontpath}.svg') format('svg');
  }
}

@mixin registerFontAlter($name, $path) {
  $fontpath: "#{$base-path-font}#{$path}/#{$path}";
  @font-face {
    font-family: "#{$name}";
    src: url('#{$fontpath}.eot');
    src: url('#{$fontpath}.eot?#iefix') format('embedded-opentype'),
    url('#{$fontpath}.woff2') format('woff2'),
    url('#{$fontpath}.woff') format('woff'),
    url('#{$fontpath}.ttf') format('truetype'),
    url('#{$fontpath}.svg') format('svg');
  }
}

$font-Roboto-Regular: 'Roboto-Regular';
@include registerFont($font-Roboto-Regular);